// 定义变量
@white: #fff;

// 字体颜色
@t-color($color: #3c4353) {
  color: $color;
}

// 字体
@mixin f-size($size: 14px) {
  font-size: $size;
  line-height: $size;
}

// 对齐方式
@mixin t-align($align: center) {
  text-align: $align;
}

// 边框
@mixin border($col: #ccd3e6, $num: 1px, $solid: solid) {
  border: $num $solid $col;
  box-sizing: border-box;
}

// 定位
@mixin location($type: relative) {
  position: $type;
}

// 鼠标指针样式
@mixin mouse($type: pointer) {
  cursor: $type;
}

// 省略
@mixin el-sl($num) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// 间距
@mixin m-step($direction: bottom, $num: 20px) {
  margin-#{$direction}: $num;
}

@mixin p-step($direction: bottom, $num: 20px) {
  padding-#{$direction}: $num;
}



// 背景颜色
.bg {
  background: #f5f7fa;
}

.bg-white {
  background: $white;
}

// 字体颜色
.white {
  color: $white;
}

// 可点击文字
.t-link {
  @include t-color(#1890ff);
}

// 主要文字
.t-gray {
  @include t-color(#3c4353);
}


// 边框
.border {
  @include border(#ccd3e6, 1px, solid);
}

// 虚线 边框
.border-dashed {
  @include border(#ccd3e6, 1px, dashed);
}

// 字体
.f12 {
  @include f-size(12px);
}

// 加粗
.b {
  font-weight: bolder;
}

// 对齐方式
.t-c {
  @include t-align(center);
}

.t-l {
  @include t-align(left);
}

.t-r {
  @include t-align(right);
}

// 定位
.relative {
  @include location(relative);
}

.absolute {
  @include location(absolute);
}

.fixed {
  @include location(fixed);
}

// 鼠标指针样式
.c-p {
  @include mouse(pointer);
}

.c-d {
  @include mouse(default);
}

// 省略
.el-sl {
  @include el-sl(1);
}
.el-sl-2 {
  @include el-sl(2);
}
.el-sl-3 {
  @include el-sl(3);
}
// 间距

// 筛选条件控件间隔

.m-r-8 {
  @include m-step(right, 8px);
}
.m-t-12 {
  @include m-step(top, 12px);
}

// 浮动
.f-l {
  float: left;
}

.f-r {
  float: right;
}

/* 元素类型 */
.dis-block {
  display: block !important;
}

.dis-none {
  display: none !important;
}

.dis-inBlock {
  display: inline-block !important;
}

// 清除浮动
.clear:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}